/* remove inheritance from GTK */
button:hover {
	box-shadow: none; /* Remove predefined box-shadow */
	text-shadow: none; /* Remove predefined text-shadow */
	background: none; /* Remove predefined background color (white) */
	transition: none; /* Disable predefined animations */
}

* {
	border: 0;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 13px;
	font-weight: bold;
}

/* main waybar colors */
window#waybar {
	background-color: rgba(34, 34, 34, 0.8);
	color: #dedede;
}

/* gap on left side */
.modules-left {
	margin-left: 15px;
}

/* gap on right side */
.modules-right {
	margin-right: 15px;
}

#workspaces button {
	min-width: 20px;
	padding-left: 5px;
	padding-right: 5px;
	/* applies to 'active' workspaces */
	color: #dedede;
}

/* applies to all workspaces set as persistent */                 
#workspaces button.persistent {
	color: #555;
}

/* currently selected workspace */
#workspaces button.focused {
        background: rgba (0, 0, 0, 0.4);
        /*border-bottom: 2px solid rgba(255, 255, 255, 0.2);*/
	color: #dedede;
}

/* when hovering over workspace button */
#workspaces button:hover {
	background: rgba (0, 0, 0, 0.2);
}

#pulseaudio {
	margin-right: 20px;
}

#cpu {
	margin-right: 20px;
}

#memory {
	margin-right: 20px;
}

#custom-notification {
	margin-right: 20px;
}

.modules-right > widget:last-child > #custom-notification {
	margin-right: 0;
}
